# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/engine/x64/Debug
/src/.vs/wd/v14
/src/x64/Debug
/src/wd.VC.VC.opendb
/src/wd.VC.db
/bin/x64/Debug
/obj/x64/Debug
/src/ipch/ENGINE-f6f003a2
